apipkg==1.5
atomicwrites==1.1.5
attrs==18.1.0
certifi==2018.8.24
chardet==3.0.4
click==6.7
cloudinary==1.12.0
colorama==0.3.9
colorclass==2.2.0
decorator==4.3.0
docopt==0.6.2
execnet==1.5.0
Flask==1.0.2
get==1.0.3
idna==2.7
itsdangerous==0.24
Jinja2==2.10
lxml==4.2.4
MarkupSafe==1.0
mock==2.0.0
mongo==0.2.0
more-itertools==4.3.0
nose==1.3.7
packaging==17.1
pbr==4.2.0
pip-upgrader==1.4.6
pluggy==0.7.1
post==1.0.2
public==1.0.3
py==1.5.4
pymongo==3.7.1
pyparsing==2.2.0
pytest==3.7.2
pytest-forked==0.2
pytest-rerunfailures==4.1
pytest-xdist==1.22.5
query-string==1.0.2
request==1.0.2
requests==2.19.1
selenium==3.9.0
self==1.0.2
six==1.11.0
terminaltables==3.1.0
upgrade-requirements==1.7.0
urllib3==1.23
Werkzeug==0.14.1
